@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "PT serif", sans-serif;
  font-size: 1.5rem;
  background-color: #641e16;
  color: #3498db;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 20px;
}

h1 {
  text-align: center;
  padding: 15px;
}

li {
  padding: 15px;
}

nav ul {
  list-style-type: none;
  width: 100%;
}

nav li {
  border: 1px solid #fff;
  border-radius: 8px;
  margin: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fd3;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  img {
    width: 100%;
    display: block;
  }

  nav ul {
    display: inline-flex;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  body {
    margin: 0;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .section {
    position: absolute;
    margin-left: 10px;
  }

  .made-of {
    position: relative;
  }

  .img-flex {
    display: flex;
  }

  img {
    width: 66.66%;
    display: inline-block;
  }

  .made-of img {
    width: 30%;
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  img {
    width: 33.33%;
    display: block;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

/* a:hover is the code for changing the colour when we put thy mouse on the objet */
/* we use cssviewport some time to make sure all the objects are in the formal position */
/* @media only screen and (min-width: **em) {} is the way we change the object on the different screensize */
/* list-style-type: none; will get rid of the little dot in frong of the content */
/* text-decoration; will get rid of the underline for the content */
